doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
  body
    #nav.center
      h1 Tech Interview Flashcards

      ul
        li link

    block content
 
    .footer
      #h4 (C) Megan Swanby 2016
    
    block footer

